header {
    width: 85%;
    border: 2px solid #25215F;
    border-top: 0px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #ED7700;
    font-weight: bold;
    font-size: 24px;
}
a:hover {
    color: #5B86E5;
    transition: 0.3s;
}

.icon-header {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    color: #5B86E5;
}

@media screen and (max-width: 768px) {
    a {
        font-size: 18px;
    }
    .icon-header {
        width: 24px;
        height: 24px;
    }   
}